{% extends 'event/base.html' %}

{% block content %}
   
    <h1>Subjects....</h1>
<br/>
<table class="table table-striped table-hover">
    {% for subject in subject_list %}
        <tr>
            <td>
                <a href="{% url 'show-subject' subject.id %}">{{ subject }}</a>
            </td>
            <td align="right">
                <a href="{% url 'update-subject' subject.id %}" class="btn btn-outline-dark btn-sm">Update</a>
            </td>
            <td align="right">
                <a href="{% url 'delete-subject' subject.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
    
{% endblock %}